<!DOCTYPE html>
<html>
<head>
	<link href = "../public/styles.css" rel = "stylesheet" type ="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<title><%= movie[1] %></title>
</head>
<body>

	<h1><%= movie[1] %> has an rating of <%= movie[2] %></h1>

	<img src = "<%= movie[3] %>">
	<a href = "/">go home</a>

	<form action = "/movies/<%= movie[0] %>" method = "POST" > 
	<input type = "hidden" name = "_method" value = "PUT" > 
	<input type = "text" name = "new_title" value = "<%= movie[1] %>"> 
	<select name = "new_rating">
		<option value = "<%= movie[2] %>" selected> <%= movie[2] %></option>
		<option value = "awesome">awesome</option>
		<option value = "rotten">rotten</option>
		<option value = "time-consuming">time_consuming</option>
		<option value = "mediocre">mediocre</option>
	</select>
	<button> update</button>
	</form>

	<form action = "/movies/<%= movie[0] %>" method = "POST" > 
	<input type = "hidden" name = "_method" value="DELETE">
	<button>delete</button>
	</form>

</body>
</html>